#contest-image-section{
    background-color: #caa453;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 487px;
    margin-bottom:0;
}

#contest-image{
    height: 100%;
}

#contest-right-side{
    padding: 2% 5%;
    display: flex;
    flex-direction: column;
    text-align: left;

}

#contest-right-side h2{
    color: white;
   width: 250px;
   
}

#contest-right-side p{
    font-size: 12px;
    margin: 10px 0;
}

#contest-right-side button{
    margin: 35px 0 0 0;
    background-color: black;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
}

.bg-swerve{
    background: url('/images/contest-swerve.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

#be-the-first-to-know-section{
    height: 220px;
    /* background-color: #222; */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
#be-the-first-to-know-section p{
    width: 45%;
    font-size: 10px;
    margin-bottom: 30px;
}

#be-the-first-to-know-section h2{
    font-size: 18px;
    margin: 0;
}

#be-the-first-to-know-section form{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#be-the-first-to-know-section input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 50%;
    border-radius: 5px;
    padding: 0 10px;
    margin: 0 5px;
    height: 35px;
    box-sizing: border-box;
}

#be-the-first-to-know-section button{
    height: 35px;
    background-color: white;
    color: black;
    width: 100px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    box-sizing: border-box;
}


#conversation-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
}


#conversation-section p{
    width: 50%;
}

.row{
    display: flex;
    justify-content: center;
    margin: 50px 0;
    margin: 100px 10%;
}

#facebook-div{
    margin: 20px;
    width: 300px;
    height: 700px;
    /* border: 0.5px solid black; */
}


.fb-column, .insta-column, .twitter-column{
    overflow: scroll;
    margin: 20px 50px;
    height: 700px;
    border-radius: 2px;
}

.fb-thumb, .insta-thumb, .twitter-thumb{
    width: 300px;
    height: 280px;
    background-size: cover;
    /* margin: 20px; */
    border: 1px solid black;
}




.insta-thumb{
    background-image: url("/images/fake-insta.png"); 
}

.twitter-thumb{
    background-image: url("/images/fake-twitter.png");
}


@Media only screen and (min-width: 1600px){
    #conversation-section{
        padding-top: 100px;
    }

}

@Media only screen and (min-width: 1700px){
    #conversation-section{
        padding-top: 180px;
    }

}



