

#hp-main-image{
    background-image: url('/images/main-home-page-image.png');
    height: 580px;
    background-size: cover;
    background-repeat: no-repeat;
}

#mid-hp-vids{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#first-row-vid-thumbs img, #second-row-vid-thumbs img{
    margin: 0 25px 50px 25px;
}

#latest-vid-h2{
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#see-all-vids-btn{
    margin: 50px 0 80px 0;
    background-color: black;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 4px;
}

.sponsored-hp-ad{
    height: 150px;
    background: url('/images/omega-ad4.jpg');
    display: block;
    background-size: cover;
}
/* ---------------------contest section----------------- */

.contest-section{
    background-image: url('/images/amp-right.png');
    min-height: 750px;
    width: 60%;
    background-position: 111% 0%;
    background-size: cover;
    float: right;
    padding: 150px 0 0px 13%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

#contest-section-right-side button{
    margin: 10px 0;
}  
#contest-section-right-side h2{
    color: white;
}

#contest-section-right-side{
    
    display: flex;
    flex-direction: column;

    text-align: left;
}

.contest-section p{
    width: 80%;
    margin: 10px 0;
    line-height: 2em;
}

#contest-container{
    min-height: 750px;
    background-color: #363738;
    padding-top: 50px;
}

.contest-img{
    background: url('/images/boy-and-dog.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 441px;
    width: 40%;
    display: inline-block;
    margin: 100px -15% 0 0;
  
}


/* ---------------------end contest section----------------- */



#hp-carousel-ads{
    height: 320px;
    width: 100%;
    background-color: #363738;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}  

#hp-carousel-ads img{
    width: 31%;
    height: 340px;
}

#hp-carousel-ads .fas{
    color: #d6d6d6;
}

#hp-soc-med-prevs{
    display: flex;
    justify-content: center;
}



#instagram-div{
    margin: 50px;
    width: 240px;
    height: 350px;
    background-image: url('/images/insta-prev.png');
}

#twitter-div{
    margin: 50px;
    width: 240px;
    height: 350px;
    background-image: url('/images/twitter-prev.png'); 
}

#hp-soc-med-section h2{
    margin: 50px 0;
    color: white;
    
}

#non-prof-section{
    /* background-color: #caa453; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 487px;
    width: 100%;
}

#nonprofimage{
    height: 100%;
    width: 40%;
    background: url('/images/amp-dog.png');
    background-size: cover;
    background-position: 20% 0;
}


.non-prof-left-side{
    height: 100%;
    background-color: #caa453;
    padding: 20px 0 10px 13%;
    text-align: left;
    width: 50%;
    box-sizing: border-box;
    overflow: scroll;
}

.non-prof-left-side h2{
    padding-top: 20px;
    font-size: 16px;
    width: 80%;
    margin: 0;
}

.non-prof-left-side p{
    font-size: 14px;
    width: 80%;
    line-height: 1.5em;
    margin: 10px 0;
}

#non-prof-left-side button{
    margin: 15px 0 0 0;
    background-color: black;
    color: white;
    width: 200px;
    padding: 10px;
    border-radius: 4px;
}

#hp-sponsored-add-bottom{
    height: 200px;
    /* background-color: #3d3d3d; */
    color: #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* =--=-=-=-=-=-=-=-=-=-begin gallery preview stuff =-=-=-=-=-=-=-=-=-=-=-= */

#hp-gallery-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('/images/bottom-curve-bg.png');
    background-size: cover;
    background-position: 0 30%;
    margin: 0;
}

#hp-gallery-container{
    height: 700px;
    width: 75%;
    display: flex;
    flex-direction: row;
}

#hp-gallery-container .col-1{
    height: 100%;
    width: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#hp-gallery-container .col-2{
    height: 100%;
    width: 40%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    
}

#row-1-col-1{
    background-image: url('/images/hp-gallery-square.png');
    height: 32%;
    width: 98%;
    
}

#row-2-col-1{
    height: 64%;
    width: 98%;
    background-image: url('/images/hp-gallery-pic-vertical.png');
  
}


#row-1-col-2{
    width: 97%;
    height: 32%;
    background-image: url('/images/hp-gallery-pic-horizontal.png');
}

#row-2-col-2{
    width: 98%;
    height: 31%;
    display: flex;
    justify-content: space-around;
}

#row-2-col-2a, #row-2-col-2b{
    width: 48%;
    height: 100%;
    background-image: url('/images/hp-gallery-square.png');
}

#row-3-col-2{
    width: 98%;
    height: 31%;
    display: flex;
    justify-content: space-around;
}

#row-3-col-2a{
    width: 49%;
    height: 100%;
    background-image: url('/images/hp-gallery-square.png');
}

#row-3-col-2b{
    width: 49%;
    height: 100%;
    background-image: url('/images/ad-pic.png');
}





#hp-gallery-section button{

    background-color: black;
    color: white;
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    margin: 40px 0 40px 0;
}

#hp-gallery-section h2{
    margin: 70px 0;
}

#top-row-right-side{
    width: 98%;
    height: 64%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

#bottom-row-right-side{
    width: 98%;
    height: 32%;
    background-image: url('/images/hp-gallery-pic-horizontal.png');
}

#top-row-right-side .first-column{
    width: 50%;
    height: 100%;
    background-image: url('/images/hp-gallery-pic-vertical.png');
}

#top-row-right-side .second-column{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#top-row-right-side .second-column .square{
   width: 100%;
   height: 48%;
   background-image: url('/images/hp-gallery-square.png');
 
}






/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- gallery preview stuff end =-=-=-=-=-=-=-=-=- */

#join-the-club{
    height: 480px;
    padding-top: 120px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-image: url('/images/join-club-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -90px;
    box-sizing: border-box;

}

#join-club-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#join-club-wrapper h2{
    margin: 15px 0;
    font-size: 24px;
}

#join-club-wrapper p{
    font-size: 12px;
    line-height: 1.5em;
    margin: 0;
}

#join-club-wrapper form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#join-club-wrapper input{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px;
}

#join-club-wrapper input[type=submit]{

    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px;
    

}




.vid-carousel-parent-div{
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 200px;
    background-image: url('/images/top-curve.png');
    background-size: 100%;
    background-position: 0% 18%;
}

.vid-carousel-parent-div iframe{
    margin: 25px 0;
    width: 93%;
    height: 350px;
    position: relative;
    border-radius: 3px;
}

.video2{
    left:0;
}
.video3{
    right:0;
}

 #outer-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


   #the-main{ 
      background-color: #363738;
  } 


  .slideRight{
    left: 480px;
    transition: left 0.75s;
  } 

  .slideLeft{
      right: 480px;
      transition: right 0.75s;
  }



@Media only screen and (max-width: 1275px){
    #hp-carousel-ads img{
        height: 300px;
    }
    #non-prof-section{
        height: 400px;
    }
}




@Media only screen and (max-width: 1100px){
    #non-prof-section{
        height: 375px;
    }
    #hp-carousel-ads img{
        height: 225px;
    }
    .hide-when-small{
        display: none !important;
    }
    .shrink-when-small{
        width: 34%;
    }
    .contest-section{
        padding-top: 100px;
        padding-left: 90px;
        padding-right: 10px;
    }
    .grow-when-small{
        width: 100%;
    }
    .vid-carousel-parent-div iframe{
        margin: 0;
        width: 88%;
        height: 280px;
    }
    #join-the-club{
        padding-top: 0;
    }
    #hp-main-image{
        height: 400px;
    }

}



@Media only screen and (max-width: 850px){
    #non-prof-section{
        height: 320px;
    }
    #hp-carousel-ads img{
        height: 180px;
    }
    .contest-section{
        height: 400px;
        overflow: scroll; 
    }
    #contest-section-right-side{
        height: 400px;
        overflow: scroll; 
    }
    .contest-img{
        width: 400px;
        position: relative;
        top: 50px;
    }
    
    .hide-when-tiny{
        display: none !important;
    }

    .grow-when-tiny{
        width: 80%;
    }
    .shrink-when-tiny{
        width: 20%;
    }
    .contest-section{
        padding-top: 15%;
        padding-left: 20%;
    }
    .contest-section p{
        line-height: 1.5em;
    }
    .sponsored-hp-ad{
        height: 120px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .vid-carousel-parent-div{
        padding-bottom: 80px;
        padding-top: 80px;
    }
    #hp-main-image{
        height: 350px;
    }
    .vid-carousel-parent-div iframe{
        margin: 0;
        width: 88%;
        height: 180px;
    }

}

@Media only screen and (max-width: 700px){
    #contest-section-right-side{
        min-height: 250px;
        height: 250px;
        overflow: scroll; 
    }
    .contest-section{
        min-height: 250px;
    }
    #contest-container{
        min-height: 0;
    }

    .contest-img{
        width: 220px;
        position: relative;
        top: -25px;
    }
    #non-prof-section{
        height: 250px;
    }
    #nonprofimage{
        height: 180px;
        position: relative;
        right: 20px;
    }
    #hp-carousel-ads img{
        height: 350px;
        width: 80%;
    }
    .hide-when-teeny-tiny{
        display: none !important;
    }
  

    .vid-carousel-parent-div iframe{
        margin: 10px;
        width: 300px;
    }
    .sponsored-hp-ad{
        height: 90px;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .vid-carousel-parent-div{
        padding-bottom: 0;
        padding-top: 40px;
        background-size: cover;
    }
    #hp-main-image{
        height: 280px;
    }
    
  }

  @Media only screen and (max-width: 600px){
    .contest-section{
        padding-top: 5px;
    }
    #hp-main-image{
        height: 225px;
    }
  }

