


#hp-main-image{
    background-image: url('/images/main-image.png');
    height: 42vw;
    background-size: cover;
    background-repeat: no-repeat;
}

#mid-hp-vids{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

#first-row-vid-thumbs img, #second-row-vid-thumbs img{
    margin: 0 25px 50px 25px;
}

#latest-vid-h2{
    height: 135px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blurb-section{
    background-color: white;
    color: black;
    line-height: 2em;
    letter-spacing: 0.05em;
    font-size: 16px;
}

.blurb-inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.blurb-inner i {
    color: black;
    margin: 8vw 1vw;
    font-size: 16px;
}

.mid-page-hr{
    
    border-bottom: 2px solid #caa453;
    height: 0px;
    width: 80%;
    margin-top: 100px;
}

.sponsored-hp-ad{
    height: 16vw;
    background: url('/images/omega-ad4.jpg');
    display: block;
    background-size: cover;
}
/* ---------------------contest section----------------- */

.hp-swirl1, .hp-swirl2{
    width: 100%;
}

.master-contest-div img{
    margin: -5px 0;
}

.contest-section{
    width: 50%;
    float: right;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

#contest-section-right-side button{
    margin: 10px 0;
    background-color: #4cb3b8;
    font-family: "NoirPro"
}  
#contest-section-right-side h2{
    color: white;
}

.contest-right-inner{
    width: 80%;
    padding-left: 10%;
}



.contest-section p{
    width: 100%;
    margin: 50px 0;
    line-height: 2em;
    color: white;
}

#contest-container{
    background-color: #363738;
    padding-top: 50px;
    display: flex;
    align-items: center;
    margin: 100px 0; 
}

.contest-img{
    height: 28vw;
    width: 40%;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 2%;
    box-sizing: border-box;
}

.contest-img > img{
    height: 100%;
}


/* ---------------------end contest section----------------- */

.carousel-back {
    background-color: white;
    padding:0 12% 100px 12%;
}

.carousel-back img{
    width: 100%;
}

.carousel-back .slick-prev{
    left: -10%;
}
.carousel-back .slick-next{
    right: -10%;
}


  /* .carousel-back div[aria-hidden='true'] +  div[aria-hidden='false'] img{
    float: right;
}

.carousel-back div[aria-hidden='true'] +  div[aria-hidden='false'] + div[aria-hidden='false'] + div[aria-hidden='false'] img{
    float:left;
}

.carousel-back div[aria-hidden='true'] + div[aria-hidden='false'] +  div[aria-hidden='false'] img{

    margin: auto;
} */

#instagram-div{
    margin: 50px;
    width: 240px;
    height: 350px;
    background-image: url('/images/insta-prev.png');
}

#twitter-div{
    margin: 50px;
    width: 240px;
    height: 350px;
    background-image: url('/images/twitter-prev.png'); 
}

#hp-soc-med-section h2{
    margin: 50px 0;
    color: white;
    
}

#non-prof-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40vw;
    width: 100%;
}




.non-prof-left-side{
    height: 100%;
    background-color: #363738;
    /* padding: 20px 0 10px 13%; */
    text-align: left;
    width: 50%;
    box-sizing: border-box;
    /* overflow: scroll; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.non-prof-left-side > span{
    width: 60%;
}

.non-prof-left-side h2{
    /* padding-top: 20px; */
    font-size: 16px;
     /* width: 80%; */
    /* margin: 0; */
}



#nonprofimage{
    height: 100%;
    width: 50%;
    background: url('/images/boop-the-snoot.png');
    background-size: cover;
    background-position: 20% 0;
}

.non-prof-left-side p{
    font-size: 16px;
    line-height: 175%;
    width: 100%;
    line-height: 1.5em;
    margin: 30px 0;
}

#nonprofbtn{
    margin: 10px 0;
    background-color: #4cb3b8;
    font-family: "NoirPro"
}

#hp-sponsored-add-bottom{
    height: 200px;
    /* background-color: #3d3d3d; */
    color: #b7b7b7;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* =--=-=-=-=-=-=-=-=-=-begin gallery preview stuff =-=-=-=-=-=-=-=-=-=-=-= */

/* #hp-gallery-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url('/images/bottom-curve-bg.png');
    background-size: cover;
    background-position: 0 30%;
    margin: 0;
}

#hp-gallery-container{
    height: 700px;
    width: 75%;
    display: flex;
    flex-direction: row;
}

#hp-gallery-container .col-1{
    height: 100%;
    width: 20%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#hp-gallery-container .col-2{
    height: 100%;
    width: 40%;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
    
}

#row-1-col-1{
    background-image: url('/images/hp-gallery-square.png');
    height: 32%;
    width: 98%;
    
}

#row-2-col-1{
    height: 64%;
    width: 98%;
    background-image: url('/images/hp-gallery-pic-vertical.png');
  
}


#row-1-col-2{
    width: 97%;
    height: 32%;
    background-image: url('/images/hp-gallery-pic-horizontal.png');
}

#row-2-col-2{
    width: 98%;
    height: 31%;
    display: flex;
    justify-content: space-around;
}

#row-2-col-2a, #row-2-col-2b{
    width: 48%;
    height: 100%;
    background-image: url('/images/hp-gallery-square.png');
}

#row-3-col-2{
    width: 98%;
    height: 31%;
    display: flex;
    justify-content: space-around;
}

#row-3-col-2a{
    width: 49%;
    height: 100%;
    background-image: url('/images/hp-gallery-square.png');
}

#row-3-col-2b{
    width: 49%;
    height: 100%;
    background-image: url('/images/ad-pic.png');
}





#hp-gallery-section button{

    background-color: black;
    color: white;
    width: 180px;
    padding: 10px;
    border-radius: 5px;
    margin: 40px 0 40px 0;
}

#hp-gallery-section h2{
    margin: 70px 0;
}

#top-row-right-side{
    width: 98%;
    height: 64%;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}

#bottom-row-right-side{
    width: 98%;
    height: 32%;
    background-image: url('/images/hp-gallery-pic-horizontal.png');
}

#top-row-right-side .first-column{
    width: 50%;
    height: 100%;
    background-image: url('/images/hp-gallery-pic-vertical.png');
}

#top-row-right-side .second-column{
    width: 49%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


#top-row-right-side .second-column .square{
   width: 100%;
   height: 48%;
   background-image: url('/images/hp-gallery-square.png');
 
}

 */




/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- gallery preview stuff end =-=-=-=-=-=-=-=-=- */

#join-the-club{
    height: 480px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 -90px;
    box-sizing: border-box;

}

#join-club-wrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#join-club-wrapper h2{
    margin: 15px 0;
    font-size: 24px;
}

#join-club-wrapper p{
    font-size: 16px;
    line-height: 1.5em;
    margin: 20px 0;
    width: 90%;
}

#join-club-wrapper form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#join-club-wrapper input{
    background-color: transparent;
    /* border: 1px solid white; */
    color: white;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding: 0 10px;
    margin: 5px;
}

#join-club-wrapper input[type=submit]{

    font-size: 12px;
    color: white;
    width: 100px;
    height: 42px;
    padding: 5px 10px;
    border-radius: 5px;

    margin: 10px 0;
    background-color: #4cb3b8;
    font-family: "NoirPro"
    

}

.landing-component{
    display: flex;
    align-items: center;
}




.vid-carousel-parent-div{
    margin-top: -20px;
    padding-top: 100px;
    padding-bottom: 200px;
    background-size: 100%;
    background-color: white;
    background-position: 0% 18%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* .vid-carousel-parent-div iframe{
    /* margin: 25px 0; */
    /* width: 93%;
    height: 100%;
    position: relative;
    border-radius: 3px; */
/* } */ 


/* .box div[aria-hidden='true'] +  div[aria-hidden='false'],  .box div[aria-hidden='true'] +  div[aria-hidden='false'] + div[aria-hidden='false'] + div[aria-hidden='false']{
    height: 23vw;
}





.box div[aria-hidden='true'] + div[aria-hidden='false'] +  div[aria-hidden='false']{
    height: 30vw;
    margin-left: -100px;
    margin-right: -100px;
    z-index: 100;
} */


/* .box div[aria-hidden='false'] > div{
    height: 100%;
} */

 /* .carousel-iframe{
     height: 100%;
 } */


 .slick-track{
     display: flex !important;
     align-items: center;
     justify-content: center;
 }

 .box-1{
    padding: 100px 8% 20px 8%;
 }

 .box-1 .slick-prev{
    left: -10%;
}
.box-1 .slick-next{
    right: -10%;
}

.box-1 img{
    width: 99%;
}


.box-1 .slick-list { 
    padding:45px 5% !important;
    /* margin-left:5% !important; */
  }

.box-1 .slick-center {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    transform: scale(1.3);
}


.box-1 div[aria-hidden='false'] +  div[aria-hidden='true']{
    position: relative;
    left: 100px;
}

.box-1 div[aria-hidden='true'] + div[aria-hidden='true'] + div[aria-hidden='true']{
    position: relative;
    right: 100px;
}

 
 

/* .video2{
    left:0;
}
.video3{
    right:0;
} */

 #outer-carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }


   #the-main{ 
      background-color: #363738;
  } 


  .slideRight{
    left: 480px;
    transition: left 0.75s;
  } 

  .slideLeft{
      right: 480px;
      transition: right 0.75s;
  }
 







@Media only screen and (min-width: 1500px){

    .contest-section{
        padding: 0;
    }


    #join-the-club{
        height: 600px;
    }

}


@Media only screen and (min-width: 1600px){


  


}

@Media only screen and (min-width: 1700px){
 
  


}

@Media only screen and (min-width: 1800px){
 
}


@Media only screen and (min-width: 2000px){
  
    #hp-carousel-ads img{
        height: 440px;
        margin-bottom: 5%;
    }
    #non-prof-section{
        height: 700px;
    }
 
}




@Media only screen and (max-width: 1275px){
    #hp-carousel-ads img{
        height: 300px;
    }
    /* #non-prof-section{
        height: 400px;
    } */

}




@Media only screen and (max-width: 1100px){
    /* #non-prof-section{
        height: 375px;
    } */
    #hp-carousel-ads img{
        height: 225px;
    }
    .hide-when-small{
        display: none !important;
    }
    .shrink-when-small{
        width: 34%;
    }

    .grow-when-small{
        width: 100%;
    }
  
 
    /* #join-the-club{
        padding-top: 0;
    } */


    #non-prof-section{
        height: 50vw;
    }

}



@Media only screen and (max-width: 850px){
  
    #hp-carousel-ads img{
        height: 180px;
    }
    .contest-section{
        height: 400px;
        overflow: scroll; 
    }
    
    .hide-when-tiny{
        display: none !important;
    }

    .grow-when-tiny{
        width: 80%;
    }
    .shrink-when-tiny{
        width: 20%;
    }
  
    .vid-carousel-parent-div{
        padding-bottom: 80px;
        padding-top: 80px;
    }

    .carousel-back .slick-prev{
        margin: 0 0 10% 0;
    }
    .carousel-back .slick-next{
        margin: 0 0 0 10%;
    }

 
 

}

@Media only screen and (max-width: 775px){

    #non-prof-section p{
        font-size: 8px;
    }

    #non-prof-section h2{
        font-size: 12px;
    }

    #non-prof-section button{
        font-size: 8px;
    }

    #non-prof-section{
        height: 50vw;
    }

    #join-club-wrapper{
        width: 90%;
    }

    #join-club-wrapper h2{
        font-size: 16px;
        letter-spacing: 0;
    }

    #join-club-wrapper p{
        width: 90%;
        font-size: 12px;
    }

  
   


.vid-carousel-parent-div iframe{
    margin: 10px;
    height: 440px;
    width: 90%;
}


.carousel-back div[aria-hidden='true'] +  div[aria-hidden='false'] img{
    margin: auto;
    float: none;
}



}



@Media only screen and (max-width: 700px){





    .hide-when-teeny-tiny{
        display: none !important;
    }
  }

  @Media only screen and (max-width: 600px){

/* .carousel-back .slick-prev{
    margin: 0 0 10% 10%;
}
.carousel-back .slick-next{
    margin: 0 10% 0 10%;
} */
    .contest-section{
        padding-top: 5px;
    }
   
    .translate-button{
        display: none;
    }
    #hp-header h1{
        width: 100%;
    }
    #main-amp{
        width: 100%;
        text-align: center;
    }
    .hp-header-left-icons{
        width: 50px;
    }
    .hp-header-right-icons{
        width: 50px;
    }
    #hp-header{
        padding: 0 20px;
    }
  }



