.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5%;
  }
  
  .card {
    flex: 0 1 24%;
    align-content: center;
  }
  
  .press-header {
    width: 100%;
    min-height: 200px;
    object-fit: contain;
    margin: auto;
  }
  
  .press-section p {
    width: auto;
    margin: auto;
  }
  
  .thumbnail {
    object-fit: contain;
    height: 200px;
    width: 200px;
  }

  #press-top{
    height: 450px;
    background: url('/images/press-top-bg.png');
    background-size: cover;
  }

  #press-bottom{
    height: 450px;
    background: url('/images/press-bottom-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 5%;
  }
  