.slick-prev {
  z-index: 100;
  color: red;
  background-image: url('/images/arrow-left.png') !important;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-y: 0;
  height: 30px;
  margin-left: 3%;
}

.slick-prev:before{
  content:none;
}

.slick-next:before{
  content: none;
}



.slick-next {
  color: red;
  z-index: 100;
  background-image: url('/images/arrow-right.png') !important;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-y: 0;
  height: 30px;
  margin-right: 3%;
}

@Media only screen and (max-width: 800px){

  .slick-next {
    margin-right: 0;
    margin-top: 20%;
  }

  .slick-prev{
    margin-left: 0;
    margin-top: 20%;
  }
  

}



