.slick-prev {
  z-index: 100;
  background-image: url('/images/arrow-left.png') !important;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-y: 0;
  height: 30px;
  margin-left: 3%;
}

.slick-prev:before{
  content:none;
}

.slick-next:before{
  content: none;
}


.slick-next {
  z-index: 100;
  background-image: url('/images/arrow-right.png') !important;
  background-size: 80%;
  background-repeat: no-repeat;
  background-position-y: 0;
  height: 30px;
  margin-right: 3%;
}

